---
![image.png]()

---

---
# **1) Introduction to NumPy**
---

---
#### ***1.1 What is NumPy?***
- NumPy = **N**umerical **P**ython
> is a fundamental Python library for scientific and numerical computing.
  - It provides support for arrays (including multi-dimensional array and a wide range of mathematical functions to operate on these arrays.
  - NumPy is a cruciallibrary in the Python scientific computing ecosystem and is often used in conjunction with other libraries like SciPy, Matplotlib, and pandas for various data analysis and scientific computing tasks.

---

----
### ***1.2 Key Features***

**1- N-dimensional Array Object (ndarray)**

  - Homogeneous, efficient storage of large datasets
  - Vectorized operations for fast computation
  - Broadcasting capabilities for operations on arrays of different shapes


**2- Performance**

  - Written in C for speed
  - Vectorized operations are much faster than pure Python loops
  - Efficient memory usage and layout


**3- Mathematical Functions**

  - Comprehensive collection of mathematical functions
  - Linear algebra, Fourier transforms, random number generation
  - Statistical operations and more


**4- Integration**

  - Seamless integration with C/C++ and Fortran code
  - Foundation for other scientific libraries (SciPy, Pandas, Scikit-learn)
  
---

---
### ***1.3 Installation***
- bash
  - Using pip
        pip install numpy
  - Using conda
        conda install numpy
  - For development version
        pip install git+https://github.com/numpy/numpy.git
----

---
### ***1.4 Basic Import***

```python
import numpy as np
```

---

In [2]:
import numpy as np

---
### ***1.5 Numpy Arrays Vs Python Sequences:***

**1- Size:**
- NumPy arrays have a fixed size at creation
- Python lists can grow or shrink dynamically.

**2- Resizing:**
- Changing the size of a NumPy array creates a new array and deletes the original
- Python lists allow in-place resizing using methods like append, insert, or pop.

**3- Data Type Consistency**
- All elements in a NumPy array must be of the same data type
- Python lists can hold elements of different types.

**4- Memory Efficiency**
- NumPy arrays support fast, vectorized operations (addition, multiplication) without explicit loops
- Python lists require manual iteration or use of functions like map().

---
![image.png]()

---

In [ ]:
# Speed of List Vs Numpy
#=======================

# A) List:
import time

a = [i for i in range(10000000)]
b = [i for i in range(10000000,20000000)]

c = []

start = time.time()
for i in range(len(a)):
  c.append(a[i] + b[i])

print(f"List:  {time.time() - start}")

#===================================

# B) NumPy:
import numpy as np

a = np.arange(10000000)
b = np.arange(10000000,20000000)

start = time.time()
c = a + b

print(f"NumPy: {time.time() - start}")

List:  1.777306079864502
NumPy: 0.0428011417388916

In [ ]:
# Memory Used for List Vs Numpy
#==============================

# A) List:
import sys

P = [i for i in range(10000000)]
print(f"List: {sys.getsizeof(P)}")

#==================================

# B) NumPy

R = np.arange(10000000)
print(f"NumPy: {sys.getsizeof(R)}")

List: 89095160
NumPy: 80000112

---

---
# **2) Create Array**
---

### ***2.1 Basic Array Creation***

*  **`array()`**

```python
np.array(object)
```

 Used to create an array from lists or tuples.

In [ ]:
arr = np.array([1, 2, 3])
print(arr)

[1 2 3]


- **`asarray()`**
      
> Convert input to an array (no copy if already an array)

In [ ]:
list_data = [1, 2, 3]
arr = np.asarray(list_data)
print(arr)

[1 2 3]

- **`copy()`**

> Create a deep copy of an array

In [ ]:
original = np.array([1, 2, 3])
copied = np.copy(original)
original[0] = 99
print(copied)  #(unchanged)

[1 2 3]

---
### ***2.2 Empty Arrays (Uninitialized)***

- **`empty()`**

```python
np.empty(shape, dtype=float)
```

 Creates an uninitialized array (values are random).

In [ ]:
arr = np.empty(3) # shape = (3,)
print(arr)  #(random values)

[1. 1. 1.]

- **`empty_like()`**

```python
np.empty_like(prototype, dtype=None)
```

 Creates an empty array with the same shape and type as a given array.

In [ ]:
template = np.array([[1, 2], [3, 4]])
arr = np.empty_like(template)
print(arr)

[[      319979121               0]
 [      313946944 138557436132592]]

---
### ***2.3 Zero Arrays***

- **`zeros()`**

```python
np.zeros(shape, dtype=float)
```

 Creates an array filled with zeros.

In [ ]:
arr = np.zeros(3)
print(arr)

print('-'*10)

arr_2d = np.zeros((3,3))
print(arr_2d)

[0. 0. 0.]
----------
[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

- **`zeros_like()`**

```python
np.zeros_like(prototype, dtype=None)
```

 Creates an array of zeros with the shape and type of another array.

In [ ]:
template = np.array([[1, 2], [3, 4]])
arr = np.zeros_like(template)
print(arr)

[[0 0]
 [0 0]]

---
### ***2.4 One Arrays***
- **`ones()`**

```python
np.ones(shape, dtype=float)
```

 Creates an array filled with ones.

In [ ]:
arr = np.ones(3)
print(arr)

print('-'*10)

arr_2d = np.ones((3,3))
print(arr_2d)

[1. 1. 1.]
----------
[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

- **`ones_like()`**

```python
np.ones_like(prototype, dtype=None)
```

 Creates an array of ones with the shape and type of another array.

In [ ]:
template = np.array([[1, 2], [3, 4]])
arr = np.ones_like(template)
print(arr)

[[1 1]
 [1 1]]

---
### ***2.5 Full Arrays (Custom Fill Value)***

- **`full()`**

```python
np.full(shape, fill_value, dtype=None)
```

 Creates an array filled with a constant value.

In [ ]:
arr = np.full((3), 10)
print(arr)

print('-'*10)

arr_2d = np.full((2,5), 10)
print(arr_2d)

[10 10 10]
----------
[[10 10 10 10 10]
 [10 10 10 10 10]]

- **`full_like()`**

```python
np.full_like(prototype, fill_value, dtype=None)
```

 Creates a constant-filled array with the shape and type of another array.

In [ ]:
template = np.array([[1, 2], [3, 4]])
arr = np.full_like(template, 9)
print(arr)

[[9 9]
 [9 9]]

---
### ***2.6 Range-Based Arrays***

- **`arange()`**

```python
np.arange(start, stop=None, step=1, dtype=None)
```

 Creates an array with regularly spaced values (like `range`).

In [ ]:
arr = np.arange(0, 10, 2)

print(arr)

[0 2 4 6 8]

- **`linspace()`**

```python
np.linspace(start, stop, num=50)
```

 Returns evenly spaced numbers over a specified interval.

In [ ]:
arr = np.linspace(0, 20, 5)
print(arr)

[ 0.  5. 10. 15. 20.]

- **`logspace()`**

```python
np.logspace(start, stop, num=50, base=10.0)
```

 Returns numbers spaced evenly on a log scale.

In [ ]:
arr = np.logspace(0, 2, 3)
print(arr)

[  1.  10. 100.]

- **`geomspace()`**

```python
np.geomspace(start, stop, num=50)
```

 Returns numbers spaced evenly on a geometric scale.

In [ ]:
arr = np.geomspace(1,8, 4)
print(arr)
arr = np.geomspace(1,27, 4)
print(arr)

[1. 2. 4. 8.]
[ 1.  3.  9. 27.]

---
### ***2.7 Grid Creation***

- **`meshgrid()`**

```python
np.meshgrid(x, y)
```

 Creates coordinate matrices from coordinate vectors.

In [ ]:
x = np.array([1, 2, 3])
y = np.array([4, 5])

X, Y = np.meshgrid(x, y)

print(X)

print(Y)

[[1 2 3]
 [1 2 3]]
[[4 4 4]
 [5 5 5]]

- **`mgrid()`**

```python
np.mgrid[start:stop:step]
```

 Returns a dense multi-dimensional meshgrid.

In [ ]:
grid = np.mgrid[0:3, 0:2]
print(np.shape(grid))
print(grid)

grid2 = np.mgrid[0:2, 0:3, 0:1]
print(np.shape(grid2))
print(grid2)

(2, 3, 2)
[[[0 0]
  [1 1]
  [2 2]]

 [[0 1]
  [0 1]
  [0 1]]]
(3, 2, 3, 1)
[[[[0]
   [0]
   [0]]

  [[1]
   [1]
   [1]]]


 [[[0]
   [1]
   [2]]

  [[0]
   [1]
   [2]]]


 [[[0]
   [0]
   [0]]

  [[0]
   [0]
   [0]]]]

- **`ogrid()`**

```python
np.ogrid[start:stop:step]
```

> - Memory-efficient open grid
- returns 1D arrays with broadcasting support.
- Use for large mesh computations.

In [ ]:
open_grid = np.ogrid[0:3, 0:2]

print(open_grid)

(array([[0],
       [1],
       [2]]), array([[0, 1]]))

- **np.diag()**
      np.diag(v, k=0)
      
    - **v:**
        - 1D array  creates diag
        - 2D array  extracts diag

    -  k: Diagonal offset

> Extract or create a diagonal matrix.

In [ ]:
arr = np.diag([1, 2, 3])
print(arr)

[[1 0 0]
 [0 2 0]
 [0 0 3]]

### ***2.8. Diagonals and Identity Matrices***

- **`diag()`**

```python
np.diag(v, k=0)
```

 Extracts or constructs a diagonal array.

- **v:** Input array.
  - If 1-D, it constructs a 2-D array with v on the k-th diagonal.
  - If 2-D, it extracts the k-th diagonal.

- **k:** int, (optional) Diagonal offset:

  - k=0: main diagonal (default)

  - k>0: above the main diagonal

  - k<0: below the main diagonal

In [ ]:
v = [1, 2, 3]
k = 0 # main Diagonal
arr = np.diag(v)
print(arr)

print("-"*10)

v = [1, 2, 3]
k = 1 # above the main Diagonal
arr = np.diag(v, k)
print(arr)

print("-"*10)

v = [1, 2, 3]
k = -2 # below the main Diagonal
arr = np.diag(v, k)
print(arr)

[[1 0 0]
 [0 2 0]
 [0 0 3]]
----------
[[0 1 0 0]
 [0 0 2 0]
 [0 0 0 3]
 [0 0 0 0]]
----------
[[0 0 0 0 0]
 [0 0 0 0 0]
 [1 0 0 0 0]
 [0 2 0 0 0]
 [0 0 3 0 0]]

- **`diagflat()`**

```python
np.diagflat(v, k=0)
```

 Creates a 2-D array with the input as the diagonal.

- **v:** Input array.
  - If 1-D, it constructs a 2-D array with v on the k-th diagonal.
  - If 2-D, it extracts the k-th diagonal.

- **k:** int, (optional) Diagonal offset:

  - k=0: main diagonal (default)

  - k>0: above the main diagonal

  - k<0: below the main diagonal

In [ ]:
arr = np.diagflat([[1, 2], [3, 4]])
print(arr)

print('-'*10)

arr = np.diagflat([[[10, 20], [30, 40]], [[50, 60], [70, 80]]], 2)
print(arr)

[[1 0 0 0]
 [0 2 0 0]
 [0 0 3 0]
 [0 0 0 4]]
----------
[[ 0  0 10  0  0  0  0  0  0  0]
 [ 0  0  0 20  0  0  0  0  0  0]
 [ 0  0  0  0 30  0  0  0  0  0]
 [ 0  0  0  0  0 40  0  0  0  0]
 [ 0  0  0  0  0  0 50  0  0  0]
 [ 0  0  0  0  0  0  0 60  0  0]
 [ 0  0  0  0  0  0  0  0 70  0]
 [ 0  0  0  0  0  0  0  0  0 80]
 [ 0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0]]

- **`eye()`**

```python
np.eye(N, M=None, k=0)
```

 Creates a 2-D identity matrix with ones on the diagonal.

- N: int  Rows.

- M: int  Columns (default = N).

- k: int  Diagonal index.

In [ ]:
arr = np.eye(3)
print(arr)

print('-'*10)

arr = np.eye(4, 4, 1)
print(arr)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]
----------
[[0. 1. 0. 0.]
 [0. 0. 1. 0.]
 [0. 0. 0. 1.]
 [0. 0. 0. 0.]]

- **`identity()`**

```python
np.identity(n)
```
-** n:** int  Size (n  n).

 Creates an identity matrix (square 2-D array).

In [ ]:
arr = np.identity(3)
print(arr)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

- **`tri()`**

```python
np.tri(N, M=None, k=0)
```

 Creates a lower triangular matrix of ones.

- **N:** int  Rows.

- **M:** int  Columns (default = N).

- **k:** int  Diagonal index.

In [ ]:
arr = np.tri(3)
print(arr)

[[1. 0. 0.]
 [1. 1. 0.]
 [1. 1. 1.]]

- **`tril()`**

```python
np.tril(m, k=0)
```

 Returns the lower triangle of an array.

In [ ]:
arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
print(np.tril(arr))

[[1 0 0]
 [4 5 0]
 [7 8 9]]

- **`triu()`**

```python
np.triu(m, k=0)
```

 Returns the upper triangle of an array.

In [ ]:
arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
print(np.triu(arr))

[[1 2 3]
 [0 5 6]
 [0 0 9]]

---

### ***2.9 From Function and Iterators***

- **`fromfunction()`**

```python
np.fromfunction(function, shape, dtype=int)
```

 Constructs an array by executing a function over each coordinate.

In [ ]:
# Example: Create an array where each element is the sum of its indices
def func(i, j):
    return i + j

fromfunction_arr = np.fromfunction(func, (3, 3), dtype=int)
print(fromfunction_arr)

[[0 1 2]
 [1 2 3]
 [2 3 4]]

- **`fromiter()`**

```python
np.fromiter(iterable, dtype, count=-1)
```

 Creates a 1-D array from an iterable.

In [ ]:
# Example: Create an array from a generator
iterable_data = (x*x for x in range(5))
fromiter_arr = np.fromiter(iterable_data, dtype=int)
print(fromiter_arr)

[ 0  1  4  9 16]

---

### ***2.10 From Binary/Text Sources***

- **`frombuffer()`**

```python
np.frombuffer(buffer, dtype=float, count=-1, offset=0)
```

 Interprets a buffer as a 1-D array.

In [ ]:
# Example: Create an array from a byte buffer
s = b'hello world'
frombuffer_arr = np.frombuffer(s, dtype='S1') # 'S1' for single-byte characters
print(frombuffer_arr)

[b'h' b'e' b'l' b'l' b'o' b' ' b'w' b'o' b'r' b'l' b'd']

- **`fromfile()`**

```python
np.fromfile(file, dtype=float, count=-1, sep='')
```

 Reads data from a binary or text file into an array.

In [ ]:
# Example: Create a dummy binary file for demonstration
with open('test_data.bin', 'wb') as f:
    f.write(b'\x01\x00\x00\x00\x02\x00\x00\x00\x03\x00\x00\x00') # 1, 2, 3 as 4-byte integers

# Read data from the binary file
fromfile_arr = np.fromfile('test_data.bin', dtype=np.int32)
print(fromfile_arr)

[1 2 3]

- **`loadtxt()`**

```python
np.loadtxt(fname, dtype=float, delimiter=None)
```

 Loads data from a text file, with each row as an array.

In [ ]:
# Example: Create a dummy text file
with open('data.txt', 'w') as f:
    f.write('1 2 3\n')
    f.write('4 5 6\n')

# Load data from the text file
loadtxt_arr = np.loadtxt('data.txt')
print(loadtxt_arr)

[[1. 2. 3.]
 [4. 5. 6.]]

- **`genfromtxt()`**

```python
np.genfromtxt(fname, dtype=float, delimiter=None)
```

 Loads data with missing values handled (more flexible than `loadtxt`).

In [ ]:
# Example: Create a dummy text file with missing values
with open('data_with_missing.txt', 'w') as f:
    f.write('1,2,3\n')
    f.write('4,,6\n') # Missing value

# Load data, specifying the delimiter and handling missing values
genfromtxt_arr = np.genfromtxt('data_with_missing.txt', delimiter=',', filling_values=-1)
print(genfromtxt_arr)

[[ 1.  2.  3.]
 [ 4. -1.  6.]]

---
# **3) Array Manipulation Functions**
---

### ***3.1 Shape manipulation***

- **`reshape()`**

```python
np.reshape(a, newshape)
```
 Gives a new shape to an array without changing its data.

In [ ]:
arr = np.array([1, 2, 3, 4, 5, 6])
new_arr = np.reshape(arr, (3, 2))
print(new_arr)

# note that the size of arr must equal to size of new_arr (after reshape)

[[1 2]
 [3 4]
 [5 6]]

- **`ravel()`**

```python
np.ravel(a)
```

- Returns a contiguous flattened array.
- Changes to the returned array will affect the original array if data is not copied.

In [ ]:
arr = np.array([[1, 2, 3], [4, 5, 6]])
raveled_arr = np.ravel(arr)
print(raveled_arr)

[1 2 3 4 5 6]

- **`flatten()`**

```python
arr.flatten()
```

- Returns a copy of the array flattened to one dimension.
- Changes to the returned array do not affect the original array.

In [ ]:
arr = np.array([[1, 2], [3, 4]])
flatten_arr = arr.flatten()

print(arr)
print(flatten_arr)

[[1 2]
 [3 4]]
[1 2 3 4]

- **`transpose()`**

```python
np.transpose(a, axes=None)
```
 Reverses or permutes the axes of an array.

In [ ]:
arr = np.array([[1, 2], [3, 4]])
transposed_arr = np.transpose(arr)
print(arr)
print('-'*10)
print(transposed_arr)

[[1 2]
 [3 4]]
----------
[[1 3]
 [2 4]]

- **`moveaxis()`**

```python
np.moveaxis(a, source, destination)
```
 Moves axes of an array to new positions.

In [ ]:
arr = np.array([[[1, 2, 3], [4, 5, 6], [7,8, 9]],
                [[10, 20, 30], [40, 50, 60], [70,80, 90]],
                [[100, 200, 300], [400, 500, 600], [700,800, 900]]])

new_arr = np.moveaxis(arr, 1, 2)

print(arr)

print('-'*20)

print(new_arr)

[[[  1   2   3]
  [  4   5   6]
  [  7   8   9]]

 [[ 10  20  30]
  [ 40  50  60]
  [ 70  80  90]]

 [[100 200 300]
  [400 500 600]
  [700 800 900]]]
--------------------
[[[  1   4   7]
  [  2   5   8]
  [  3   6   9]]

 [[ 10  40  70]
  [ 20  50  80]
  [ 30  60  90]]

 [[100 400 700]
  [200 500 800]
  [300 600 900]]]

- **`swapaxes()`**

```python
np.swapaxes(a, axis1, axis2)
```
 Interchanges two axes of an array.

In [ ]:
arr = np.array([[[1, 2], [3, 4]]])

new_arr = np.swapaxes(arr, 0, 1)

print(arr)
print(arr.shape)

print('-'*20)

print(new_arr)
print(new_arr.shape)

[[[1 2]
  [3 4]]]
(1, 2, 2)
--------------------
[[[1 2]]

 [[3 4]]]
(2, 1, 2)

- **`expand_dims()`**

```python
np.expand_dims(a, axis)
```
 Expands the shape of an array by inserting a new axis at a specified position.

In [ ]:
arr = np.array([1, 2, 3])
expanded_arr = np.expand_dims(arr, axis=0)
print(expanded_arr.shape)

print('-'*20)

arr2 = np.array([[[1, 2], [3, 4]]])
expanded_arr2 = np.expand_dims(arr, axis=1)
print(expanded_arr2.shape)

(1, 3)
--------------------
(3, 1)

- **`squeeze()`**

```python
np.squeeze(a, axis=None)
```
  Removes single-dimensional entries from the shape of an array.

In [ ]:
arr = np.array([[[1, 2, 3]]])
print(arr.shape)
print('-'*10)
squeezed_arr = np.squeeze(arr)
print(squeezed_arr.shape)

(1, 1, 3)
----------
(3,)

---
### ***3.2 Changing dimensions***
- **`atleast_1d()`**

```python
np.atleast_1d(*arys)
```
 Converts inputs to arrays with at least one dimension.

In [ ]:
arr = np.atleast_1d(7)
print(arr)

print('-'*20)

arr = np.atleast_1d([[1, 2], [3, 4]])
print(arr)

[7]
--------------------
[[1 2]
 [3 4]]

- **`atleast_2d()`**

```python
np.atleast_2d(*arys)
```
 Converts inputs to arrays with at least two dimensions.

In [ ]:
arr = np.atleast_2d(7)
print(arr)
arr = np.atleast_2d([[1, 2], [3, 4]])
print(arr)

[[7]]
[[1 2]
 [3 4]]

- **`atleast_3d()`**

```python
np.atleast_3d(*arys)
```
 Converts inputs to arrays with at least three dimensions.

In [ ]:
arr = np.atleast_3d(7)
print(arr)

[[[7]]]

- **`broadcast_to()`**

```python
np.broadcast_to(array, shape)
```
  
  -> Broadcasts an array to a new shape.

  -> The new shape must be compatible with the original array's shape.

In [ ]:
arr = np.array([1, 2, 3])
broadcasted_arr = np.broadcast_to(arr, (3, 3))
print(broadcasted_arr)

[[1 2 3]
 [1 2 3]
 [1 2 3]]

- **`broadcast_arrays()`**

```python
np.broadcast_arrays(*args)
```
-> Broadcasts any number of arrays against each other.

-> Returns a list of broadcasted arrays.

In [ ]:
arr1 = np.array([1, 2, 3])
arr2 = np.array([[10], [20]])
b_arr1, b_arr2 = np.broadcast_arrays(arr1, arr2)
print(b_arr1)
print(b_arr2)

[[1 2 3]
 [1 2 3]]
[[10 10 10]
 [20 20 20]]

---
### ***3.3 Joining arrays***

- **`concatenate()`**

```python
np.concatenate((a1, a2), axis=0)
```
 Joins a sequence of arrays along an existing axis

In [ ]:
arr1 = np.array([[1, 2], [3, 4]])
arr2 = np.array([[5, 6]])
concatenated_arr = np.concatenate((arr1, arr2), axis=0)
print(concatenated_arr)

[[1 2]
 [3 4]
 [5 6]]

- **`stack()`**

```python
np.stack(arrays, axis=0)
```
 Joins a sequence of arrays along a new axis.

In [ ]:
arr1 = np.array([1, 2, 3])
arr2 = np.array([4, 5, 6])
stacked_arr = np.stack((arr1, arr2), axis=0)
print(stacked_arr)

[[1 2 3]
 [4 5 6]]

- **`vstack()`**

```python
np.vstack(tup)
```
 Stacks arrays in sequence vertically (row-wise).

In [ ]:
arr1 = np.array([1, 2])
arr2 = np.array([3, 4])
vstack_arr = np.vstack((arr1, arr2))
print(vstack_arr)

[[1 2]
 [3 4]]

- **`hstack()`**

```python
np.hstack(tup)
```
 Stacks arrays in sequence horizontally (column-wise).

In [ ]:
arr1 = np.array([1, 2])
arr2 = np.array([3, 4])
hstack_arr = np.hstack((arr1, arr2))
print(hstack_arr)

[1 2 3 4]

- **`dstack()`**

```python
np.dstack(tup)
```
 Stacks arrays in sequence depth-wise (along the third axis).

In [ ]:
arr1 = np.array([[1], [2]])
arr2 = np.array([[3], [4]])
dstack_arr = np.dstack((arr1, arr2))
print(dstack_arr)

[[[1 3]]

 [[2 4]]]

- **`column_stack()`**

```python
np.column_stack(tup)
```
 Stacks 1-D arrays as columns into a 2-D array.
  Treats 1D arrays as columns.

In [ ]:
arr1 = np.array([1, 2, 3])
arr2 = np.array([4, 5, 6])
column_stacked_arr = np.column_stack((arr1, arr2))
print(column_stacked_arr)

[[1 4]
 [2 5]
 [3 6]]

- **`row_stack()`**

```python
np.row_stack(tup)
```
 Stacks arrays in sequence row-wise (same as vstack).

In [ ]:
arr1 = np.array([[1, 2], [3, 4]])
arr2 = np.array([[5, 6], [7, 8]])
row_stacked_arr = np.row_stack((arr1, arr2))
print(row_stacked_arr)

[[1 2]
 [3 4]
 [5 6]
 [7 8]]

/tmp/ipython-input-196-334766617.py:3: DeprecationWarning: `row_stack` alias is deprecated. Use `np.vstack` directly.
  row_stacked_arr = np.row_stack((arr1, arr2))

---
### ***3.4 Splitting arrays***

- **`split()`**

```python
np.split(ary, indices_or_sections, axis=0)
```
 Splits an array into multiple sub-arrays.

In [ ]:
arr = np.arange(12)
split_arr = np.split(arr, 3)
print(split_arr)

[array([0, 1, 2, 3]), array([4, 5, 6, 7]), array([ 8,  9, 10, 11])]

- **`array_split()`**

```python
np.array_split(ary, indices_or_sections, axis=0)
```
 Splits an array into multiple sub-arrays, **allowing for uneven splits.**

In [ ]:
arr = np.arange(7)
array_split_arr = np.array_split(arr, 3)
print(array_split_arr)

[array([0, 1, 2]), array([3, 4]), array([5, 6])]

- **`hsplit()`**

```python
np.hsplit(ary, indices_or_sections)
```
 Splits an array into multiple sub-arrays horizontally (column-wise).

In [ ]:
arr = np.arange(8).reshape(8,)
hsplit_arr = np.hsplit(arr, 2)
print(hsplit_arr)

print('-'*20)

arr2 = np.arange(20).reshape(4,5)
hsplit_arr2 = np.hsplit(arr2, 5)
print(hsplit_arr2)

[array([0, 1, 2, 3]), array([4, 5, 6, 7])]
--------------------
[array([[ 0],
       [ 5],
       [10],
       [15]]), array([[ 1],
       [ 6],
       [11],
       [16]]), array([[ 2],
       [ 7],
       [12],
       [17]]), array([[ 3],
       [ 8],
       [13],
       [18]]), array([[ 4],
       [ 9],
       [14],
       [19]])]

- **`vsplit()`**

```python
np.vsplit(ary, indices_or_sections)
```
 Splits an array into multiple sub-arrays vertically (row-wise).

In [ ]:
arr = np.arange(8).reshape(4,2)
hsplit_arr = np.vsplit(arr, 2)
print(hsplit_arr)

print('-'*20)

arr2 = np.arange(20).reshape(4,5)
hsplit_arr2 = np.vsplit(arr2, 4)
print(hsplit_arr2)

[array([[0, 1],
       [2, 3]]), array([[4, 5],
       [6, 7]])]
--------------------
[array([[0, 1, 2, 3, 4]]), array([[5, 6, 7, 8, 9]]), array([[10, 11, 12, 13, 14]]), array([[15, 16, 17, 18, 19]])]

- **`dsplit()`**

```python
np.dsplit(ary, indices_or_sections)
```
 Splits an array into multiple sub-arrays depth-wise (along the third axis).

In [ ]:
arr = np.arange(2*2*2).reshape(2, 2, 2)
dsplit_arr = np.dsplit(arr, 2)
print(dsplit_arr)

[array([[[0],
        [2]],

       [[4],
        [6]]]), array([[[1],
        [3]],

       [[5],
        [7]]])]

---
### ***3.5 Tiling and repeating***

- **`tile()`**

```python
np.tile(A, reps)
```
 Constructs an array by repeating A the number of times given by reps.

In [ ]:
arr = np.array([0, 1])
tiled_arr = np.tile(arr, 3)
print(tiled_arr)

print('-'*20)

tiled_2d = np.tile(arr, (2, 2))
print(tiled_2d)

[0 1 0 1 0 1]
--------------------
[[0 1 0 1]
 [0 1 0 1]]

- **`repeat()`**

```python
np.repeat(a, repeats, axis=None)
```
 Repeats elements of an array.

In [ ]:
arr = np.array([1, 2])
repeated_arr = np.repeat(arr, 3)
print(repeated_arr)

print('-'*20)

arr_2d = np.array([[1, 2], [3, 4]])
repeated_2d_axis0 = np.repeat(arr_2d, 2, axis=0)
print(repeated_2d_axis0)

print('-'*20)

arr_2d = np.array([[1, 2], [3, 4]])
repeated_2d_axis1 = np.repeat(arr_2d, 2, axis=1)
print(repeated_2d_axis1)

[1 1 1 2 2 2]
--------------------
[[1 2]
 [1 2]
 [3 4]
 [3 4]]
--------------------
[[1 1 2 2]
 [3 3 4 4]]

---
### ***3.6 Inserting and deleting***

- **`insert()`**

```python
np.insert(arr, obj, values, axis=None)
```
  Inserts values along the given axis before the given indices

In [ ]:
arr = np.array([1, 2, 3])
inserted_arr = np.insert(arr, 1, 99)
print(inserted_arr)

print('-'*20)

arr_2d = np.array([[1, 2], [3, 4]])
inserted_2d = np.insert(arr_2d, 1, 55, axis=1)
print(inserted_2d)

[ 1 99  2  3]
--------------------
[[ 1 55  2]
 [ 3 55  4]]

- **`append()`**

```python
np.append(arr, values, axis=None)
```
 Appends values to the end of an array.

 ***Note:*** This function always returns a copy.

In [ ]:
arr = np.array([1, 2, 3])
appended_arr = np.append(arr, [4, 5])
print(appended_arr)

[1 2 3 4 5]

- **`delete()`**

```python
np.delete(arr, obj, axis=None)
```
 Returns a new array with sub-arrays along an axis deleted.

In [ ]:
arr = np.array([1, 2, 3, 4, 5])
deleted_arr = np.delete(arr, 2)
print(deleted_arr)

print('-'*20)

arr_2d = np.array([[1, 2, 3], [4, 5, 6]])
deleted_2d = np.delete(arr_2d, 1, axis=1)
print(deleted_2d)

[1 2 4 5]
--------------------
[[1 3]
 [4 6]]

### ***3.7 Resizing arrays***

- **`resize()`**

```python
np.resize(a, new_shape)
```
 Returns a new array with the specified shape.

  - If the new array is larger -> **the old array is repeated to fill the new** array.
  - If the new array is smaller -> **it's truncated.**

In [ ]:
arr = np.array([1, 2, 3])
resized_larger = np.resize(arr, (5,))
print(resized_larger)


resized_smaller = np.resize(arr, (2,))
print(resized_smaller)

[1 2 3 1 2]
[1 2]

- **`pad()`**

```python
np.pad(array, pad_width, mode='constant')
```
 Pads an array with values.

  - Useful for adding borders or expanding arrays while controlling the padding values.

In [ ]:
arr = np.array([1, 2, 3])
padded_arr = np.pad(arr, (2, 3), 'constant', constant_values=0)
print(padded_arr)


arr_2d = np.array([[1, 2], [3, 4]])
padded_2d = np.pad(arr_2d, ((1, 1), (0, 0)), 'edge')
print(padded_2d)

[0 0 1 2 3 0 0 0]
[[1 2]
 [1 2]
 [3 4]
 [3 4]]

---
# **4) Array Indexing, Slicing, and Iterating**
---

- **`Basic indexing`**
```python
a[index]
```

 usage:

  Accesses a single element or a sub-array using non-negative integers or tuples of integers for each dimension.

In [ ]:
arr = np.array([1, 2, 3, 5, 6])
element = arr[2] # access the 3rd element
print(element)

print ('-'*20)

arr = np.array([[1,2,3],[4,5,6],[7,8,9]])
element = arr[1,2] # access the element at row 1 and col 2
print(element)

3
--------------------
6

- **`Slicing`**
```python
a[start:stop:step]
```

 usage:

Returns a slice (sub-array) of the original array.

In [ ]:
arr = np.array([10, 20, 30, 40, 50, 60])
slice_1d = arr[1:4] # Elements from index 1 up to (but not including) 4
print(slice_1d)

print('-'*10)

matrix = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
slice_2d = matrix[0:2, 1:3] # Rows 0 to 1, columns 1 to 2
print(slice_2d)

print('-'*10)

slice_with_step = arr[::2] # Every second element
print(slice_with_step)

[20 30 40]
----------
[[2 3]
 [5 6]]
----------
[10 30 50]

- **`Integer indexing`**
```python
a[[i1, i2], [j1, j2]]
```

 usage:

Access specific elements using arrays of indices.

In [ ]:
arr = np.array([10, 20, 30, 40, 50])
elements = arr[[0, 2, 4]] # Select elements at indices 0, 2, and 4
print(elements)

print('-'*10)

mtrx = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
# select elements at (0, 0) (1, 1) (2, 0)
elements = mtrx[[0, 1, 2], [0, 1, 0]]

print(elements)

[10 30 50]
----------
[1 5 7]

- **`Boolean indexing`**
```python
a[boolean_arr]
```

 usage:

- Select elements where the condition is True.
- The boolean array must have the same shape as the array being indexed, or be broadcastable to it.

In [ ]:
arr = np.array([10, 20, 30, 40, 50])
mask = arr > 25 # Create a boolean mask
filtered_arr = arr[mask]
print(filtered_arr)

print('-'*20)

matrix = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
even_elements = matrix[matrix % 2 == 0] # Select all even elements
print(even_elements)

[30 40 50]
--------------------
[2 4 6 8]

- **`Fancy indexing`**
```python
a[[row_indices], [col_indices]]
```

 usage:

- Index arrays using lists or arrays of integers.

- It always returns a copy of the data.

In [ ]:
arr = np.array(['a', 'b', 'c', 'd', 'e'])
indices = np.array([0, 2, 4])
fancy_indexed_arr = arr[indices]
print(fancy_indexed_arr)

print('-'*10)

matrix = np.array([[10, 20, 30], [40, 50, 60], [70, 80, 90]])
fancy_2d = matrix[[0, 2], [2, 0]]
print(fancy_2d)

['a' 'c' 'e']
----------
[30 70]

- **`Indexing with np.ix_`**
```python
a[np.ix_([row_indices], [col_indices])]
```

 usage:

Used for broadcasting multiple index arrays to form a submatrix.

In [ ]:
rows = np.array([0, 2])
cols = np.array([1, 2])

matrix = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

sub_matrix = matrix[np.ix_(rows, cols)]
print(sub_matrix)

[[2 3]
 [8 9]]

- **`ndenumerate`**

```python
for indx, x in np.ndenumerate(a):
```

 usage:

Iterate over the array with both (index, value).

In [ ]:
mtrx = np.array([[10, 20], [30, 40]])

for indx, x in np.ndenumerate(mtrx):
  print(f"index = {indx}, value = {x}")

index = (0, 0), value = 10
index = (0, 1), value = 20
index = (1, 0), value = 30
index = (1, 1), value = 40

- **`ndindex`**

```python
for idx in np.ndindex(shape):
```

 usage:

Generate indices for iterating over an array of a given shape.

In [ ]:
for index in np.ndindex(2, 2, 2):
    print(index)

(0, 0, 0)
(0, 0, 1)
(0, 1, 0)
(0, 1, 1)
(1, 0, 0)
(1, 0, 1)
(1, 1, 0)
(1, 1, 1)

- **`nditer`**

```python
for x in np.nditer(a):
```

 usage:

Efficient iterator to loop through all elements in the array.

In [ ]:
a = np.arange(6).reshape(2,3)

# Basic element iteration
for x in np.nditer(a):
    print(x, end=' ')

print('\n')
print('-'*20)

# Modified iteration with flags
for x in np.nditer(a, flags=['multi_index'], op_flags=['readwrite']):
    x[...] = x * 2  # Double each element
print(a)

0 1 2 3 4 5

--------------------
[[ 0  2  4]
 [ 6  8 10]]

---

In [ ]:
---

---
# **5) Mathematical Functions**
---

## **5.1 Trigonometric Functions**

- **`np.sin(x)`** > Sine

- **`np.cos(x)`** > Cosine

- **`np.tan(x)`** > Tangent

- **`np.arcsin(x)`** > Inverse sine

- **`np.arccos(x)`** > Inverse cosine

- **`np.arctan(x)`** > Inverse tangent

- **`np.arctan2(y, x)`** > Element-wise arc tangent of y/x

- **`np.deg2rad(x)`** / **`np.radians(x)`** > Degrees to radians

- **`np.rad2deg(x)`** / **`np.degrees(x)`** > Radians to degrees

In [4]:
# Sine of 30 degrees (converted to radians)
print(f"sin(30) = {np.sin(np.pi/6)}")

# Cosine of 60 degrees
print(f"cos(60) = {np.cos(np.radians(60))}")

# Tangent of 45 degrees
print(f"tan(45) = {np.tan(np.pi/4)}")

# Arcsine of 0.5 (returns radians)
print(f"arcsin = {np.degrees(np.arcsin(0.5))}")

# Arctangent of y=1, x=1 (45 degrees)
print(f"arctan = {np.degrees(np.arctan2(1, 1))}")

sin(30) = 0.49999999999999994
cos(60) = 0.5000000000000001
tan(45) = 0.9999999999999999
arcsin = 30.000000000000004
arctan = 45.0

---
## ***5.2 Hyperbolic Functions***

- **`np.sinh(x)`** > Hyperbolic sine
- **`np.cosh(x)`** > Hyperbolic cosine
- **`np.tanh(x)`** > Hyperbolic tangent
- **`np.arcsinh(x)`** > Inverse hyperbolic sine
- **`np.arccosh(x)`** > Inverse hyperbolic cosine
- **`np.arctanh(x)`** > Inverse hyperbolic tangent

In [5]:
# Hyperbolic sine
print(f"sinh(0) = {np.sinh(0)}")

# Hyperbolic cosine
print(f"cosh(0) = {np.cosh(0)}")

# Inverse hyperbolic tangent
print(f"arctanh(0.5) = {np.arctanh(0.5)}")

sinh(0) = 0.0
cosh(0) = 1.0
arctanh(0.5) = 0.5493061443340548

---
## **5.3 Rounding Functions**

- **`np.round(x[, decimals])`** > Round to specified decimals
- **`np.floor(x)`** > Round down
- **`np.ceil(x)`** > Round up
- **`np.trunc(x)`** > Truncate towards zero
- **`np.fix(x)`** > Round towards zero

In [6]:
arr = np.array([1.23, 4.56, 7.89])

print(f"round of [1.23, 4.56, 7.89] = {np.round(arr)}")
print('-'*10)
print(f"floor of [1.23, 4.56, 7.89] = {np.floor(arr)}")
print('-'*10)
print(f"ceil of [1.23, 4.56, 7.89] = {np.ceil(arr)}")
print('-'*10)
print(f"trancate of [1.23, 4.56, 7.89] = {np.trunc(arr)}")
print('-'*10)
print(f"fix = {np.fix(arr)}")

round of [1.23, 4.56, 7.89] = [1. 5. 8.]
----------
floor of [1.23, 4.56, 7.89] = [1. 4. 7.]
----------
ceil of [1.23, 4.56, 7.89] = [2. 5. 8.]
----------
trancate of [1.23, 4.56, 7.89] = [1. 4. 7.]
----------
fix = [1. 4. 7.]

  ---
  ## **5.4 Sums, Products, Differences**

- **`np.sum(x[, axis])`** > Sum of array elements
- **`np.prod(x[, axis])`** > Product of array elements
- **`np.cumsum(x[, axis])`** > Cumulative sum
- **`np.cumprod(x[, axis])`** > Cumulative product
- **`np.diff(x[, n, axis])`** > Discrete difference
- **`np.ediff1d(x)`** > Differences between adjacent elements (flattened)
- **`np.mean(x)`** > Mean
- **`np.std(x)`** > Standard deviation
- **`np.var(x)`** > Variance

In [7]:
arr = np.array([1, 2, 3, 4])

print(f"sum of arr elements = {np.sum(arr)}")
print('-'*10)
print(f"Product of arr elements = {np.prod(arr)}")
print('-'*10)
print(f"Cumulative sum of arr elements = {np.cumsum(arr)}")
print('-'*10)
print(f"Cumulative product of arr elements = {np.cumprod(arr)}")
print('-'*10)
print(f"Discrete difference = {np.diff(arr)}")
print('-'*10)
print(f"Differences between adjacent elements = {np.ediff1d(arr)}")
print('-'*10)
print(f"Mean = {np.mean(arr)}")
print('-'*10)
print(f"Standard deviation = {np.std(arr)}")
print('-'*10)
print(f"Variance = {np.var(arr)}")

sum of arr elements = 10
----------
Product of arr elements = 24
----------
Cumulative sum of arr elements = [ 1  3  6 10]
----------
Cumulative product of arr elements = [ 1  2  6 24]
----------
Discrete difference = [1 1 1]
----------
Differences between adjacent elements = [1 1 1]
----------
Mean = 2.5
----------
Standard deviation = 1.118033988749895
----------
Variance = 1.25

---
## ***5.5 Exponents and Logarithms***

- **`np.exp(x)`** > Exponential of x (e^x)
- **`np.expm1(x)`** > exp(x) - 1, accurate for small x
- **`np.exp2(x)`** > 2^x
- **`np.log(x)`** >  = Ln(), (base e)
- **`np.log10(x)`** > Logarithm base 10
- **`np.log2(x)`** > Logarithm base 2
- **`np.log1p(x)`** > log(1 + x), accurate for small x

In [8]:
print(f"e^1 = {np.exp(1)}")
print('-'*10)
print(f"Ln(10) = {np.log(10)}")
print('-'*10)
print(f"log10(100) =  {np.log10(100)}")
print('-'*10)
print(f"log2(8) = {np.log2(8)}")
print('-'*10)
print(f"expm1 = {np.expm1(0.01)}")

e^1 = 2.718281828459045
----------
Ln(10) = 2.302585092994046
----------
log10(100) =  2.0
----------
log2(8) = 3.0
----------
expm1 = 0.010050167084168058

## ***5.6 Complex Number Functions***

- **`np.real(x)`** > Real part
- **`np.imag(x)`** > Imaginary part
- **`np.conj(x)`** > Complex conjugate
- **`np.angle(x[, deg])`** > Phase angle
- **`np.abs(x)`** > Magnitude (modulus)

In [13]:
c = 3 + 4j

print(f"Real part of c = {np.real(c)}")
print('-'*10)
print(f"Imag part of c = {np.imag(c)}")
print('-'*10)
print(f"conjugate of c = {np.conj(c)}")
print('-'*10)
print(f"magnitude of c = {np.abs(c)}")
print('-'*10)
print(f"Direction of c = {np.angle(c)} rad")

Real part of c = 3.0
----------
Imag part of c = 4.0
----------
conjugate of c = (3-4j)
----------
magnitude of c = 5.0
----------
Direction of c = 0.9272952180016122 rad

## **5.7 Floating Point Routines**

- **`np.isfinite(x)`** > Check for finite values
- **`np.isinf(x)`** > Check for infinity
- **`np.isnan(x)`** > Check for NaNs
- **`np.isposinf(x)`** > Positive infinity
- **`np.isneginf(x)`** > Negative infinity
- **`np.finfo(dtype)`** > Machine limits for floats
- **`np.nextafter(x1, x2)`** > Next float after x1 toward x2
- **`np.spacing(x)`** > Distance between x and next representable float

In [10]:
arr = np.array([1, np.inf, np.nan, -np.inf])

print(np.isfinite(arr))
print('-'*10)
print(np.isinf(arr))
print('-'*10)
print(np.isnan(arr))
print('-'*10)
print(np.finfo(np.float32).max)

[ True False False False]
----------
[False  True False  True]
----------
[False False  True False]
----------
3.4028235e+38

## **5.8 Special Functions (from scipy.special)**

```python
from scipy import special
```

- **`special.gamma(x)`** > Gamma function
- **`special.gammaln(x)`** > Log Gamma
- **`special.beta(x, y)`** > Beta function
- **`special.erf(x)`** > Error function
- **`special.erfc(x)`** > Complementary error function
- **`special.jv(n, x)`** > Bessel function of the first kind
- **`special.iv(n, x)`** > Modified Bessel function
- **`special.expit(x)`** > Logistic sigmoid

In [1]:
from scipy import special

print(special.gamma(5))
print('-'*10)
print(special.erf(1))
print('-'*10)
print(special.expit(0))
print('-'*10)
print(special.beta(2, 3))

24.0
----------
0.8427007929497148
----------
0.5
----------
0.08333333333333333